<!-- <p>forgetpassword works!</p> -->
<!-- <p>login works!</p> -->
<div fxFlex=100 fxLayout="row" fxLayoutAlign="center center" style="margin-top: 50px;margin-bottom: 50px;">
    <mat-card style="width:400px;height: 450px;">
        <div fxLayout="column" fxLayoutAlign="center center">
            <H1 style="font-size:300%;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <span style="color:blue ;font-size:100%;font-family:cursive;">F</span>
                <span style="color:green ;font-size:100%;font-family:cursive;">U</span>
                <span style="color:orange ;font-size:100%;font-family:cursive;">N</span>
                <span style="color:red ;font-size:100%;font-family:cursive;">D</span>
                <span style="color:magenta ;font-size:100%;font-family:cursive;">O</span>
                <span style="color:purple ;font-size:100%;font-family:cursive;">O</span>
            </H1>
            <br>
            <p style="font-size: 150%;"><b> Account Recovery</b></p>
            <br>
            <p>Enter your email, to reset your password</p>
        </div>
        
        <form [formGroup]="forgetForm" (ngSubmit)="Forget()">
            <!-- <div>
        Fundoo
        <p>use your fundoo account</p>
    </div> -->
            <br>
            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width:360px">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error>*required</mat-error>
                </mat-form-field>
            </div>
            <!-- <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width:360px">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="confirm Password" formControlName="confirmPassword">
                    <mat-error>*required</mat-error>
                </mat-form-field>
            </div> -->
            <br>
            <div align="end">
                <!-- <a routerLink="/signup" >Sign up </a>
                <a routerLink="/signup">Forgot Password</a> -->
                <button mat-raised-button color="primary" style="right:20px" >Next</button>
            </div>
        </form>
    </mat-card>
</div>